
body {
  height: 100vh;
  margin: 0;
  padding: 1px;
}

.img-logo-rotate {
    width: 150px;
    height: 150px;
    object-fit: contain;
    opacity: 0.5;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.img-pokemon {
  width: 250px;
  height: 200px;
  object-fit: contain;
}